<!DOCTYPE html>
<html lang="en" ng-app="spectralSolution">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Spectral Solution LLC">
    <!-- Title -->
    <title>Spectral Solutions</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
    <!--  -->
    <link href="css/animations.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Keen -->
    <script src="https://d26b395fwzu5fz.cloudfront.net/4.3.0/keen.min.js"></script>
    <!-- Angular -->
    <script src="js/angular.min.js"></script>
    <script src="js/ngBuy.js"></script>


</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="buyController">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <!-- <i class style="color:#fff;"="fa fa-bars"></i> -->
                    <h9 style="color:#B23711">NAVIGATE</h9>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="light spectral-orange">Spectral</span> Solutions
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li style="padding-left:5px; padding-right5px;">
                        <a class="page-scroll" href="./index.html">Home</a>
                    </li>
                    <li style="padding-left:5px; padding-right5px;">
                        <a class="page-scroll" href="./solutions.html">Spectral Solutions</a>
                    </li>
                    <li style="padding-left:5px; padding-right5px;">
                        <a class="page-scroll active-nav" href="./buy.html">Buy Service</a>
                    </li>
                    <li style="padding-left:5px; padding-right5px;">
                        <a class="page-scroll" href="./company.html">Company</a>
                    </li>
                    <li style="padding-left:5px; padding-right5px;">
                        <a class="page-scroll" href="./contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Solutions -->
    <section class="image-section text-center wrap">
      <!-- This contains the image background -->
      <div class="wrap-image" id="wrap-buy">
        <!-- This contains the text and assets to display on top of the image -->
          <div class="wrap-image-text">
            <div class="title-div align-middle">
                <h1 class="brand-font-white text-center">Buy Spectral Solutions</h1>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <p>Enhance your decisions today and book a series of flights.<br>We will work with you through the whole process and ensure you understand each report.</p>
          </div>
      </div>
    </section>

    <!-- Packages -->
    <section class="container secondary-section text-center">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="title-div">
            <h1 class="brand-font">Solution Packages</h1>
            <h2 class="brand-font-subheading">Every Flight brings insight </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p>We give you a portal account, or email you your reports a few days after a fly.</p>
          <p>We might offer a few more things, and discuss their satisfaction and we work hard to bring the best experience possible.</p>
          <p>Maybe mention we also will work with people wanting custom solutions in across industries.</p>
          <button type="button" ng-click="buyNow('Ultimate Insight')" name="Package-3" class="btn btn-lg btn-spectral-dark-teal" data-toggle="modal" data-target="#buyModal"> Buy Now</button>
        </div>
      </div>
      <div class="row">
        <!-- Package 1 -->
        <!-- <div class="col-md-4">
          <div class="panel panel-default solution-package">
            <div class="panel-body">
              <h2>Starter Flight</h2>
              <h3>$1,000</h3>
              <hr>
              <p>- 1 Flight</p>
              <p>- All your dreams</p>
              <button type="button" ng-click="buyNow('Starter Flight')" name="Package-1" class="btn btn-lg btn-spectral-dark-teal" data-toggle="modal" data-target="#buyModal"> Buy Now</button>
            </div>
          </div>
        </div> -->
        <!-- Package 2 -->
        <!-- <div class="col-md-4">
          <div class="panel panel-default solution-package">
            <div class="panel-body">
              <h2>Season Pass</h2>
              <h3><s>$10,000</s> <strong>now $9,500</strong></h3>
              <hr>
              <p>- 10 Flights</p>
              <p>- Cool shit</p>
              <button type="button" ng-click="buyNow('Season Pass')" name="Package-2" class="btn btn-lg btn-spectral-dark-teal" data-toggle="modal" data-target="#buyModal"> Buy Now</button>
            </div>
          </div>
        </div> -->
        <!-- Package 3 -->
        <!-- <div class="col-md-4">
          <div class="panel panel-default solution-package">
            <div class="panel-body">
              <h2>Ultimate Insight</h2>
              <h3><s>$30,000</s> <strong>now $28,000</strong></h3>
              <hr>
              <p>- 30 Flight</p>
              <p>- Even sweeter kickass </p>
              <button type="button" ng-click="buyNow('Ultimate Insight')" name="Package-3" class="btn btn-lg btn-spectral-dark-teal" data-toggle="modal" data-target="#buyModal"> Buy Now</button>
            </div>
          </div>
        </div>
      </div> -->
    </section>




    <!-- Footer -->
    <footer id="footer">
        <div class="container text-center">
            <p style="text-align:center;">Copyright &copy; Spectral Solutions LLC 2016-2018</p>
        </div>
    </footer>


  <!-- Buy Modal -->
  <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title text-center" id="myModalLabel">Purchase Contact Form</h2>
        </div>
        <div class="modal-body">
          <!-- Form -->
          <div ng-hide="submitCompletedHide">
            <p>Fill out this business form and an expert will contact you.</p>
            <form name="myForm">
              <!-- Name -->
              <h4 class="input-font">Your Name</h4>
              <p class="success-text" ng-hide="!myForm.name.$valid">Success</p>
              <p class="error-text" ng-hide="myForm.name.$valid">Required</p>
              <div class="input-group-lg">
                <input type="text" name="name" class="form-control" placeholder="" ng-model="formData.name" required>
              </div>
              <br>
              <!-- Email -->
              <h4 class="input-font">Contact E-mail</h4>
              <p class="success-text" ng-hide="!myForm.email.$valid">Valid E-mail</p>
              <p class="error-text" ng-hide="myForm.email.$valid">Valid E-mail Required</p>
              <div class="input-group-lg">
                <input type="email" name="email" class="form-control" ng-model="formData.email" required>
              </div>
              <br>
              <!-- Phone -->
              <h4 class="input-font">Phone Number</h4>
              <p class="success-text" ng-hide="!formData.phoneValid">Digits Entered</p>
              <p class="error-text" ng-hide="formData.phoneValid">Required</p>
              <div class="input-group-lg">
                <input type="text" name="phone" class="form-control" placeholder="" ng-model="formData.phone" ng-change="phoneFormat()" ng-model-otions="{allowInvalid:true}" required>
              </div>
              <br>
              <!-- Company -->
              <h4 class="input-font">Company or Institution Name</h4>
              <div class="input-group-lg">
                <input type="text" class="form-control" placeholder="" ng-model="formData.company">
              </div>
              <br>
              <!-- Address -->
              <h4 class="input-font">Company Location</h4>
              <div class="input-group-lg">
                <input type="text" class="form-control" placeholder="" ng-model="formData.address">
              </div>
              <br>
              <br>
            </form>
          </div>
          <!-- Thank you -->
          <div ng-hide="submitThankYouHide" class="spectral-orange text-center">
            <h3>Thank you for you purchase request.</h3>
            <h3>We look forward to talking to you soon!</h3>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-block btn-spectral-dark" ng-click="submit()" ng-hide="!submitThankYouHide">Submit</button>
          <br>
          <button type="button" class="btn btn-lg btn-block btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/web.js"></script>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80501394-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>

</html>
